.App {  
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App-header {
  background-color: #58c45ca3;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(255, 255, 255);
  background-image: url(https://img2.pngio.com/green-city-png-2-png-image-green-city-png-1160_700.png) ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.App-header h1 {
  font-size: 100px;
  font-family: 'Rubik Beastly', cursive;
  font-weight: 1;
  text-shadow:5px 5px 8px #100c01;
  flex-direction: row-reverse;
  color: rgba(255, 247, 0, 0.948)
}

.App-header h3 {
  /* font-family: 'Roboto',sans-serif; */
  font-family: 'Press Start 2P', cursive;
}

.welcome {
  font-style: italic;
}

.userwelcome {
  text-shadow:2px 2px 8px #100c01;
}

.login{
  background-color: #58c45ca3;
  min-height: 97vh;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(255, 255, 255);
  background-image: url(https://img2.pngio.com/green-city-png-2-png-image-green-city-png-1160_700.png) ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.loginForm {
  background-color: rgba(53, 143, 53, .4);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .4);
  padding: 1rem;
  margin-left:40rem;
  margin-right:40rem;
}

.loginHeader  {
  padding-top: 3rem;
  font-size: 100px;
  font-family: 'Rubik Beastly', cursive;
  font-weight: 1;
  text-shadow: 5px 5px 8px #100c01;
  flex-direction: row-reverse;
  color: rgba(255, 247, 0, 0.948);
}

.label{
  padding: 1rem;
  font-family: 'Press Start 2P', cursive;
  /* font-family: 'Roboto', sans-serif; */
  text-shadow: 5px 5px 8px #100c01;
}

.loginButton{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Press Start 2P', cursive;
  font-size: calc(10px + 1vmin);
  color: #000;
  border-radius: 5rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.);
  width: auto;
  background-color:rgba(106, 162, 208, 0.845);
  padding:20px;
  border-radius: 50px;
}

.loginButton:hover{
  background-image: url(https://i.pinimg.com/originals/1e/89/17/1e8917f358abfc8b3e97b4f29d63e175.gif);
  font-weight: bolder;
  background-color:rgb(106, 162, 208);
  color: rgb(185, 185, 185);
}

.inputField{
  opacity: 1;
  padding-left: .5em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  
}

/* .books-container,
.authors-container {
  margin: 8rem;
  background-image: url('https://www.seekpng.com/png/full/211-2110136_bookshelf-pixel-art.png');
  background-repeat: no-repeat;
  background-size: cover;
} */

.book-cards,
.author-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .5rem;
  padding: 5px;
  margin: 10px;
  border-width: .5em;
  text-align: center;
}

.bookCard {
  width: 240px;
  padding: 20px;
  margin: 10px;
  float: left;
  height: 500px;
  font-family: 'Roboto',sans-serif;
  overflow-y: auto;
  color: #000000;
}

.bookCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.author-card {
  width: 240px;
  height: 350px;
  padding: 20px;
  margin: 10px;
  float: left;
  overflow-y: auto;
  text-align: left;
  font-family: 'Roboto',sans-serif;
  /* background-color: #58c45ccd; */
}

.author-cardss {
  width: 240px;
  height: 350px;
  padding: 20px;
  margin: 10px;
  float: left;
  overflow-y: auto;
  text-align: center;
  border-radius: 75px;
  /* font-family: 'Noteworthy',sans-serif; */
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.bookCard img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.author-cardss img {
  border-radius: 150%; 
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.image {
  border-radius: 150%; 
  width: 225px;
  height: 225px;
  background-color: #f78902fc;
}

.image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.author-cardss img:hover {
  width: 200px;
}

.header {
  background-color:rgb(128,128,128);
  font-family: sans-serif;
}

#navigation {
  display: flex;
  justify-content: center;
}

#navigation h2 {
  margin-left: 50px;
  width: auto;
  background-color: #d8e8d8d2;
  padding:20px;
  border-radius: 50px;
  font-size: 24px;
}

#navigation h2:hover {
  background-image: url(https://i.pinimg.com/originals/1e/89/17/1e8917f358abfc8b3e97b4f29d63e175.gif);
  font-weight: bolder;
  background-color: #6eda72fe;

}

#navigation h2 a,
.login a {
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  /* font-family: 'Roboto', sans-serif; */
  color: rgb(62, 62, 62)
}

#navigation h2 a:hover {
  color: white;
  text-shadow:2px 2px 8px #100c01;
}

.search_bar {
  margin-bottom: 30px;
  background-color:rgb(106, 162, 208);
  border: 2px solid rgb(66, 66, 215);
  padding:20px;
}

.search_input {
  text-align: center;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border:0px;
  font-family: 'Press Start 2P', cursive;
  font-size: smaller;

}

#authors-container {
  justify-content: center;
}

.logo {
  width: 100px;
  height: auto;
}

.bookDetails {
  font-family: 'Roboto', sans-serif;
  width: 1000px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding: 50px;
  text-align: left;
}

.bookDetails a {
  text-decoration: none;
  color: black;
  font-size: smaller;
}

.bookDetails a:hover {
  text-decoration: underline;
}

.bookDetails img {
  float: left;
  padding-right: 15px;
  width: 450px;
  height: 500px;
  object-fit: fill;
}

.bookDetails button:hover,
input[type="submit"]:hover,
.deleteButton:hover {
  color:white;
  background-color:rgb(140, 203, 254);
}

.author-form,
.book-form {
  width: 800px;
  text-align: center;
  display: inline-grid;
  /* font-family:'Roboto',sans-serif; */
  font-family: 'Press Start 2P', cursive;

}

#newAuthorForm, 
#newBookForm {
  margin-top: 10px;
  margin-left:230px;
  width: 350px;
  display: block;
  font-family: 'Press Start 2P', cursive;
  /* font-family:'Roboto',sans-serif; */

}

input[type="submit"], .deleteButton, 
.bookDetails button {
  margin: 15px;
  border-radius: 25px;
  border-width: 0;
  width:100px;
  height:40px;
  /* font-family:'Roboto',sans-serif; */
  font-family: 'Press Start 2P', cursive;
}

input.formText {
  margin-bottom: 20px;
  height:30px;
  width: 350px;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: lightgray;
  /* font-family:'Roboto',sans-serif; */
  font-family: 'Press Start 2P', cursive;
}

.addBookPage {
  background-color: rgba(73, 73, 216, .5);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(255, 255, 255);
  background-image: url(https://img2.pngio.com/green-city-png-2-png-image-green-city-png-1160_700.png) ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.addAuthorPage {
  background-color: rgba(247, 189, 0, 0.6);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(255, 255, 255);
  background-image: url(https://img2.pngio.com/green-city-png-2-png-image-green-city-png-1160_700.png) ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.added-author-info {  
  background-image: url("asfalt--dark--1920x1080\ \(1\).png");
  opacity: 1;
  margin-top: 70px;
  width: 800px;
  height: auto;
  display: inline-table;
  margin-bottom: 150px;
  /* font-family:'Roboto',sans-serif; */
  font-family: 'Press Start 2P', cursive;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: rgb(242, 255, 0);
  border-radius: 2em;
}

.added-book-info {
  background-image: url("asfalt--dark--1920x1080.png");
  opacity: 1;
  margin-top: 70px;
  width: 800px;
  height: auto;
  display: inline-table;
  margin-bottom: 150px;
  /* font-family:'Roboto',sans-serif; */
  font-family: 'Press Start 2P', cursive;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: rgb(76, 184, 250);
  border-radius: 2em;
}

.authorImg{
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 1);
  /* border: solid black; */
}

.bar {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 5px 8px #100c01;
}

.notDisplayed {
  display: none;
}

.displayed {
  font-family: 'Press Start 2P', cursive;
  /* font-family:'Roboto',sans-serif; */
}

.selectMenu {
  color: black;
  font-size: 14px;
}

.authorInfo {
  color: black;
  text-align: center;
  font-size: 22px;
}

.myPage{
  background-color: rgba(227, 247, 0, 0.89);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  background-image: url(https://img2.pngio.com/green-city-png-2-png-image-green-city-png-1160_700.png) ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.myPageBody{
  background-image: url('asfalt--dark--1920x1080\ \(2\).png');
  opacity: 1;
  margin-top: 70px;
  width: 800px;
  height: auto;
  display: inline-table;
  margin-bottom: 150px;
  font-family: 'Press Start 2P', cursive;
  /* font-family:'Roboto',sans-serif; */
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: rgb(203, 207, 233);
  border-radius: 2em;
}

.myBooksList{
  color: white;
  text-align: left;
  /* text-decoration: underline; */
}

.text-center{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding-bottom: 1rem;
}

.loginForm {
  background-color: rgba(53, 143, 53, .4);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .4);
  padding: 1rem;
  margin-left:40rem;
  margin-right:40rem;
}